.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movies_block {
    width: 80%;
    margin-top: 20px;
}

.home_page {
    display: flex;
    margin-top: 20px;
}